#!/bin/bash

source ./tools.env
source ./bin/shared/functions.sh

__load_binary_to_env() {
 # Usage: __load_binary_to_env <BINARY_NAME> <BINARY_VERSION> <BINARY_PATH> <BINARY_VERSION_ATTR> <BINARY_SED_EXPR>
 #
 # Add binary to path and check if exists and is in right version, else display error mesage.

    local BINARY_NAME="${1}"
    local VERSION="${2}"
    local BINARY_DIR="${3}"
    local VERSION_ATTR="${4}"
    local SED_EXPRESION="${5}"
    local RELEASE_URL="${6}"

    check=$(check_binary_version "${BINARY_NAME}" "${VERSION}" "${VERSION_ATTR}" "${SED_EXPRESION}")
    rc=${?}

    if [ "${rc}" -eq 2 ]; then
        echo "You don't have installed ${BINARY_NAME} in your system. It will be installed. Wait a moment. Installing ..."
        install_binary "${BINARY_NAME}" "${VERSION}" "${RELEASE_URL}" 
    elif [ "${rc}" -eq 1 ]; then
        echo "You using wrong ${BINARY_NAME} version: ${check}, required in .envrc is: ${VERSION}. It will be installed. Wait a moment. Installing ..."
        install_binary "${BINARY_NAME}" "${VERSION}" "${RELEASE_URL}"
    fi
    PATH_add "${BINARY_DIR}/${VERSION}/"
}

use_terraform() {
  # Usage: use terraform <version>
  #
  # Loads the specified terraform version into the environent
  __load_binary_to_env "${TERRAFORM_NAME}" "${1}" "${TERRAFORM_PATH}" "${TERRAFORM_VERSION_ATTR}" "${TERRAFORM_SED_EXPR}" "${TERRAFORM_RELEASE_URL}"
}

use_terragrunt() {
  # Usage: use terragrunt <version>
  #
  # Loads the specified terragrunt version into the environent
  __load_binary_to_env "${TERRAGRUNT_NAME}" "${1}" "${TERRAGRUNT_PATH}" "${TERRAGRUNT_VERSION_ATTR}" "${TERRAGRUNT_SED_EXPR}" "${TERRAGRUNT_RELEASE_URL}"
}

use_sops() {
  # Usage: use sops <version>
  #
  # Loads the specified sops version into the environent
  __load_binary_to_env "${SOPS_NAME}" "${1}" "${SOPS_PATH}" "${SOPS_VERSION_ATTR}" "${SOPS_SED_EXPR}" "${SOPS_RELEASE_URL}"
}

use_helm() {
  # Usage: use helm <version>
  #
  # Loads the specified helm version into the environent
  __load_binary_to_env "${HELM_NAME}" "${1}" "${HELM_PATH}" "${HELM_VERSION_ATTR}" "${HELM_SED_EXPR}" "${HELM_RELEASE_URL}"
}

use_kustomize() {
  # Usage: use kustomize <version>
  #
  # Loads the specified kustomize version into the environent
  __load_binary_to_env "${KUSTOMIZE_NAME}" "${1}" "${KUSTOMIZE_PATH}" "${KUSTOMIZE_VERSION_ATTR}" "${KUSTOMIZE_SED_EXPR}" "${KUSTOMIZE_RELEASE_URL}"
}

use terraform "${TERRAFORM_VERSION}"
use terragrunt "${TERRAGRUNT_VERSION}"
use sops "${SOPS_VERSION}"
use helm "${HELM_VERSION}"
use kustomize "${KUSTOMIZE_VERSION}"
